@{
    ViewBag.Title = "Contact";
}
<h2>DENEYİMLER</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <hr />
        <h4>İş Deneyimleri</h4>
        <table>

            <tr>
                <td><b>Kobisoft A.Ş :</b></td>
            </tr>
            <tr>
                <td width="200">Şubat 2018 - Haziran 2018</td>
                <td width="200">Pazarlama</td>
            </tr>
        </table>
        <h4>Staj Deneyimleri</h4>
        <table>

            <tr>
                <td><b>Proje Dükkanı Dijital Pazarlama ve Reklam Ajansı :</b></td>
            </tr>
            <tr>
                <td width="150">
                    Şubat 2017 - Mayıs 2017  <br />
                    <br />
                </td>
                <td width="150">
                    Junior Software Developer   <br />
                    <br />
                </td>

            </tr>
           
            <tr>
                <td><b>Radore Veri Merkezi :</b></td>
            </tr>
            <tr>
                <td width="150">Temmuz 2016 - Haziran 2016</td>
                <td width="150">Junior Software Developer</td>
            </tr>
        </table>
    </div>
</body>
</html>
