@{
    ViewBag.Title = "Bilgisayar";
}
<h2>Bilgisayar Bilgisi</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <hr />
    <div>

        <table>
            <tr>
                <td>
                    <ul>
                        <li>C#</li>
                        <li>HTML / CSS</li>
                        <li>C++</li>
                        <li>ASP.NET</li>
                        <li>JAVASCRIPT</li>
                        <li>T-SQL</li>
                        <li>WORDPRESS</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
