@{
    ViewBag.Title = "DilBilgisi";
}
<h2>Dil Bilgisi</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <hr />
        <table>
            <tr>
                <td><ul><li><b>İngilizce :</b> Upper-Intermediate</li></ul></td>
            </tr>
            <tr>
                <td><ul><li><b>Almanca :</b>Beginner</li></ul></td>            
            </tr>          
        </table>
    </div>
</body>
</html>

