@{
    ViewBag.Title = "Contact";
}
<h2>Eğitim Bilgileri</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <hr />
        <table>
            <tr>
                <td><b>Yüksek Lisans :</b> Düzce Üni./ Fen Bilimleri Enstitüsü / Elektrik-Elektronik ve Bilgisayar Mühendisliği Anabilim Dalı <br /> (Disiplinlerarası) Elektrik-Elektronik ve Bilgisayar <br /><br /></td>

            </tr>
            <tr>
                <td><b>Lisans : </b>Düzce Üni. / Teknoloji Fakültesi / Bilgisayar Mühendisliği <br /><br /> </td>
            </tr>
            <tr>
                <td><b>Lise : </b>Zühtü Kurtulmuş Anadolu Lisesi</td>
            </tr>
        </table>
    </div>
</body>
</html>
