
<h2>Kişisel Bilgiler</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
       
        <div>
            <img src="~/Content/images/$RQEBWBE.png" width="150" /><a href="https://www.linkedin.com/in/g%C3%BClbahar-inan-6bb87711b/" target="_blank"><h3>GÜLBAHAR İNAN</h3></a> 
            <hr />
        </div>
        <table>
            <tr> 
                <td><b>Doğum Tarihi : </b> 01.04.1994 <br /></td>
            </tr>
            <tr>
                <td><b>Uyruğu : </b>T.C <br /></td>
            </tr>
            <tr>
                <td><b>Cinsiyet : </b>Bayan</td>
            </tr>
            <tr>
                <td><b>Medeni Hali : </b>Bekar</td>
            </tr>
            <tr>
                <td><b>Telefon No : </b> 0539 869 2531</td>
            </tr>
            <tr>
                <td><b>E-mail : </b>gulbaharinann@gmail.com</td>
            </tr>
            <tr>
                <td><b>Adres : </b>Zeytinburnu / İstanbul</td>
            </tr>
        </table>
    </div>
</body>
</html>