

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Referanslar</h2>
        <hr />
        <table>
            <tr>
                <td><ul><li>Mehmet Fatih Akan </li></ul></td>
            </tr>
            <tr>
                <td><ul><li>Zafer Dörter </li></ul></td>
            </tr>
            <tr>
                <td><ul><li>Rıdvan Aksoy </li></ul></td>
            </tr>
        </table>
    </div>
</body>
</html>
